<footer>
	<div class="footer-copyright text-center py-3">© 2024 Copyright | Tout droit réservé :
		<a href="/">
			EcoIT</a>
		<div>
			<strong>Site crée par Souleymane SANOGO</strong>
		</div>

		<p>Téléphone: 07 53 87 08 79</p>
		<div class="mt-2">
			<i class="fa-brands fa-facebook">
				<a href="/"></a>
			</i>
			<i class="fa-brands fa-facebook-messenger">
				<a href="/"></a>
			</i>
			<i class="fa-brands fa-instagram-square">
				<a href="/"></a>
			</i>
			<i class="fa-solid fa-envelope">
				<a href="/"></i>


			</div>

		</div>

		<div class="footer-copyright | tOUT droit réservé text-center py-3">

			<a href=" {{ path('rgpd')}} ">

				RGPD</a>
			<a href=" {{ path('cvg')}} ">

				CVG</a>

		</div>
	</footer>
