{% extends 'base.html.twig' %}

{% block title %}
	ReadMe
{% endblock %}

{% block body %}
	<div class="mt-4 container">
		<h1 class="text-center">MODE D'EMPLOI DU SITE</h1>

		<h2>Lien de l'Ozitem :https://groupeozitem.com</h2>
		<h2>Vidéos Youtube: 

		</h2>

		<h3>Documentation technique</h3>

		<a type="button" class="btn btn-secondary btn-lg m-4" href="{{ asset('assets/images/documentation_technique.pdf')}}">Voir la documentation</a>


		<h3>Manuel d'utilisation</h3>
		<a type="button" class="btn btn-secondary btn-lg m-4" href="{{ asset('assets/images/manuel_utilisation.pdf')}}">Voir le manuel</a>

		<h3>Code: azerty pour tous les utilisateurs</h3>
		<p>validé :  recruteur.t@gmail.com</p>

	</p>
	<p>non validé:  recrut.test@gmail.com</p>

</p>
<p>consultant.test@gmail.com</p>

<p>candidat@trt.com</p>

<p>admin01@trt.fr</p></div>{% endblock %}
